HTTPのRFC仕様群が更新された

特にChapter1-6の記述に関して：

- RFC 9110: HTTP Semantics https://www.rfc-editor.org/rfc/rfc9110.html

HTTP/1.1 RFC 7230～7235は廃止された

- RFC 9113: HTTP/2 https://www.rfc-editor.org/rfc/rfc9113

HTTP/2 RFC 7540は廃止された

- RFC 9114: HTTP/3 https://www.rfc-editor.org/rfc/rfc9114.html

HTTP/3がRFC 9114としてRFCになった